version: '3.8'

services:
  api:
    build:
      context: ./JudgeAPI
    ports:
      - "5000:80"
    depends_on:
      - db
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=db;Database=JudgeDb;User=sa;Password=Your_password123;TrustServerCertificate=true;

  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"

volumes:
  sqlvolume:
